<div id="cv" class="instaFade">
  <div class="mainDetails">
    <div id="headshot" class="quickFade">
      <img src="assets/my2.jpg" alt="Alan Smith" />
    </div>

    <div id="name">
      <h2 class="quickFade delayTwo">Boppana Sandeep</h2>
      <h3 class="quickFade delayThree">Junior Software Engineer</h3>
      <h3 class="quickFade delayThree">Ameripro Solutions Pvt Ltd.</h3>
    </div>

    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li>
          e:
          <a href="mailto:boppanasandeep57@gmail.com" target="_blank"
            >boppanasandeep57@gmail.com</a
          >
        </li>
        <!-- <li>w: <a href="http://www.bloggs.com">www.bloggs.com</a></li> -->
        <li>m: +91 9573879057</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="quickFade delayFive">
    <section>
      <article>
        <div class="sectionTitle"><h1>Career objective</h1></div>

        <div class="sectionContent">
          <p>
            To be an efficient Software Professional in an organization and
            looking forward to an opportunity where I can utilize my
            professional skills that offers challenge and professional growth
            while being resourceful, innovative and flexible.
          </p>
        </div>
      </article>
      <div class="clear"></div>
    </section>
    <section>
      <article>
        <div class="sectionTitle"><h1>Professional Highlights</h1></div>

        <div class="sectionContent">
          <p>
            <li>
              Around 2 years and 7 months of professional experience in
              Requirements Analysis, Design, Development and Implementation of
              Web applications using PHP, Angular 2 and Above.
            </li>
            <li>
              Experience in configuring and deploying Web Applications using
              XAMPP.
            </li>
            <li>
              Worked with development tools like Visual Studio Code,
              Dreamweaver.
            </li>
            <li>
              Abilities to learn new technologies quickly and implementing them
              successfully and one of the technologies I have learned and
              implemented is Ionic Framework in my current company.
            </li>
            <li>Experience on CodeIgniter web services.</li>
            <li>
              Ability to work effectively in teams and single with excellent
              communication and interpersonal skills.
            </li>
            <li>
              Client Interaction’s and Meeting's on design and development.
            </li>
            <li>Self-Learning capability is my good strength.</li>
            <li>Wowza player Integration for web application.</li>
            <li>Source control management GitHub.</li>
          </p>
        </div>
      </article>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle"><h1>Technical Skills</h1></div>

      <div class="sectionContent">
        <ul class="keySkills">
          <li>HTML</li>
          <li>Bootstrap</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>Ajax</li>
          <li>JSON</li>
          <li>PHP</li>
          <li>CodeIgniter</li>
          <li>Laravel</li>
          <li>MySQL</li>
          <li>AngularJS</li>
          <li>Angular</li>
          <li>Ionic Framework</li>
          <li>Reactjs</li>
          <li>Photoshop</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle"><h1>Work Experience</h1></div>

      <div class="sectionContent">
        <article>
          <h2>Junior Software Engineer at Ameripro Solutions Pvt Ltd.</h2>
          <p class="subDetails">Project title - Nicks Building</p>
          <p class="subDetails">November 2017 - Present</p>
          <p>
            Nicks Building has been in business selling wood doors and they have
            very large warehouse so they will maintain everything in
            application, if they are purchasing any products or items which are
            used for building the doors, they will raise the purchase orders
            through the application. Application can take orders from the
            customers and store the customer details. For building the door they
            will create a production plan and build the orders according to the
            plan and the plans are created using the application.
          </p>
        </article>

        <article>
          <h2>Junior Software Engineer at Ameripro Solutions Pvt Ltd.</h2>
          <p class="subDetails">Project title - ResQu</p>
          <p class="subDetails">October 2017 - November 2017</p>
          <p>
            ResQu is a Mobile Application that will Provide Services to the
            people Whenever they are in danger can launch the application and
            they can start the Live Event that will track the Live Video,
            Location, Snapshot Images and Chatting. This Information will
            Provided in the Web Portal to track the people who are in danger by
            the Police Department through is Web Portal.
          </p>
        </article>

        <article>
          <h2>Junior Software Engineer at Ameripro Solutions Pvt Ltd.</h2>
          <p class="subDetails">Project title - Maddox</p>
          <p class="subDetails">May 2017 - October 2017</p>
          <p>
            Maddox Project is developed for a construction company Maddox
            Infrastructure Pvt Ltd. The application is used for tracking the
            Enquiries of the customers and they will the analyzes the details
            provided by the customers. If the details provided by the customer
            is suitable for the company polices, they will raise a Quotation
            using this application and it will be sent to the customer via
            Email. Once the customer is approved the quotation, they will start
            the production. The application will also raise the purchase orders
            for Out of Stock items and also track suppliers for PO s, Way Bills,
            PDF Generations for all above process.
          </p>
        </article>

        <article>
          <h2>Junior Software Engineer at Ameripro Solutions Pvt Ltd.</h2>
          <p class="subDetails">Project title - Phonetree IME</p>
          <p class="subDetails">March 2017 - May 2017</p>
          <p>
            Phonetree IME application related to the Healthcare project. The
            main aim of the Project is to gather the information from the
            patient of their appointment's taken in the hospital. Phonetree
            Health application will send the text message with a link. Once the
            patient clicks the link redirect to the browser and it will show
            list of all appointments available to the particular patient. If
            patient selected any one of the appointments their we can see Date,
            Time, Location, Health related information below that information
            patient can Confirm, Cancel, Location, Call, Maps buttons are shown
            to the patient appointment.
          </p>
        </article>

        <article>
          <h2>Web developer at Zlapch TechStudios Pvt Ltd.</h2>
          <p class="subDetails">Project title - Employee Information</p>
          <p class="subDetails">January 2017 - March 2017</p>
          <p>
            Employee Information is developed for the evaluating the employee
            performance every month, maintaining the employee everyday tasks and
            tracking how much time is working in the office every day.
            Application is also used for requesting the leaves and maintaining
            the documents.
          </p>
        </article>

        <article>
          <h2>Web developer at Zlapch TechStudios Pvt Ltd.</h2>
          <p class="subDetails">Project title - My Sales Jobs</p>
          <p class="subDetails">August 2016 - December 2016</p>
          <p>
            Application provides the Job opportunities for the graduates who are
            searching for the jobs. In this application companies are able post
            the jobs and those are provided to graduates through this
            application.
          </p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle"><h1>Education</h1></div>

      <div class="sectionContent">
        <article>
          <h2>Gudlavalleru Engineering College</h2>
          <p class="subDetails">B. Tech</p>
          <p class="subDetails">Information Technology</p>
          <p class="subDetails">Passout - 2016</p>
          <!--
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              ultricies massa et erat luctus hendrerit. Curabitur non consequat
              enim.
            </p>
          -->
        </article>

        <article>
          <h2>Sri Chaitanya</h2>
          <p class="subDetails">Intermediate</p>
          <p class="subDetails">MPC</p>
          <p class="subDetails">Passout - 2012</p>
        </article>

        <article>
          <h2>Vidyalaya Public School</h2>
          <p class="subDetails">SSC</p>
          <p class="subDetails">Passout - 2010</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
  </div>
</div>
